body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.form-group {
    margin: auto;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 97.5%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    color: red;
}

#btn-box {
    justify-content: space-between;
    width: 50%;
}

#btn-container {
    display: flex;
    justify-content: space-between;
}

#register-div {
    display: flex;
    align-items: center;
}

#register-div span {
    margin-right: 5px;
}